.site-header-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  z-index: 99;


  button {
    background-color: #2a3642;
    color: white !important;
  }
}


.logo-img {
  height: 60px;
}
